<script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/underscore-min.js"></script>

<!-- Tangle -->
<script type="text/javascript" src="{{STATIC_URL}}js/Tangle.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/mootools.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/sprintf.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/BVTouchable.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/TangleKit.js"></script>



<!-- TangleKit -->
<link rel="stylesheet" href="{{STATIC_URL}}css/TangleKit.css" type="text/css">

<!-- TangleDown -->
<script type="text/javascript" src="{{STATIC_URL}}js/TangleDown.js"></script>