<script type="text/javascript">
    function setUpTangle_{{root}}() {
    	var tangle_{{root}} = new Tangle($('#{{root}}')[0], {
    		initialize: function () {
    			    {{ initialize|safe }}
    		    {% if using_sympy %}
    		        this.__constraints = {{ constraints|safe }};
    		        $.extend(this, TangleDown.tangledownload(this))
    			{% endif %}
    		},
    		update: function () {
    		    {% if using_sympy %}
    		        $.extend(this, TangleDown.tangledownload(this))
    		    {% else %}
    			    {{ update|safe }}
    			{% endif %}
    		}
    	});
    }
    
    $(function(){
        setUpTangle_{{root}}();
    })
</script>