<!-- Tangle -->
<script type="text/javascript" src="{{STATIC_URL}}js/Tangle.js"></script>

<!-- TangleKit (optional... just kidding) -->
<link rel="stylesheet" href="{{STATIC_URL}}css/TangleKit.css" type="text/css">

<script type="text/javascript" src="{{STATIC_URL}}js/mootools.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/sprintf.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/BVTouchable.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/TangleKit.js"></script>
