{% extends "site_base.html" %}

{% block head_title %}
    {{page.title}}
{% endblock head_title %}

{% block body %}
    <div class="row">
        <div class="span13">
        {% block luau_body %}{% endblock %}
        </div>
        <div class="span3">
            {% block luau_nav %}
            <h2>Navigate</h2>
            <ul>
                {% for other_page in pages %}
                <li><a href="/wiki/{{other_page.name}}">{{other_page.title}}</a></li>
                {% endfor %}
            </ul>
            {% if user.is_authenticated %}
            <form method="get" action="/wiki">
                <input class="span2" type="text" name="new" placeholder="New Page"/>
                <button class="btn">GO</button>
            </form>
            {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}