{% extends "luau/base.html" %}

{% load bootstrap_tags %}

{% block extra_head %}
    {{ super }}
    <script src="{{STATIC_URL}}js/codemirror/lib/codemirror.js"></script>
    <script src="{{STATIC_URL}}js/codemirror/mode/xml/xml.js"></script>
    <script src="{{STATIC_URL}}js/codemirror/mode/markdown/markdown.js"></script>
    <script src="{{STATIC_URL}}js/luau_edit.js"></script>
    
    <link rel="stylesheet" href="{{STATIC_URL}}css/luau_edit.css">
    
{% endblock extra_head %}

{% block head_title %}
    Edit {{ form.instance.title }}
{% endblock %}

{% block luau_body %}
    <form method="POST" action="" id="page_form">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
            <input type="hidden" name="action" value="edit" />
        </fieldset>
        <div class="actions" id="actionbar">
            <button type="submit" id="submit_edit" class="btn primary">Submit</button>
            <button id="save_edit" class="btn success">Save</button>
            <button class="btn" id="toggle_fs">Fullscreen</button>
            <button class="btn info disabled" id="md_help">Markdown Help</button>
        </div>
    </form>
{% endblock luau_body %}