{% extends "luau/base.html" %}
{% load markup tangle_tags %}

{% block extra_head %}
    {{ super }}
    {% if show_src %}
        <script src="{{STATIC_URL}}js/codemirror/lib/codemirror.js"></script>
        <script src="{{STATIC_URL}}js/codemirror/mode/xml/xml.js"></script>
        <script src="{{STATIC_URL}}js/codemirror/mode/markdown/markdown.js"></script>
        <script src="{{STATIC_URL}}js/luau_edit.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}css/luau_edit.css">
    {% else %}
        {% tangle_imports %}
        {% tangle_instance page.body "tangle_body" %}
    {% endif %}
{% endblock extra_head %}

{% block luau_body %}
    <div id="tangle_body">
    <h1>{{page.title}} 
        {% if user.is_authenticated %}
        <span class="label"><a href="edit">Edit</a></span>
        {% else %}
            {% if show_src %}
            <span class="label"><a href="../">Back to Page</a></span>
            {% else %}
            <span class="label"><a href="src">View Source</a></span>
            {% endif %}
        {% endif %}
    </h1>
    {% if show_src %}
        <textarea id="id_body">{{ page.body }}</textarea>
    {% else %}
    <p>
        {% tangledown page.body %}
    </p>
    {% endif %}
    </div>
{% endblock luau_body %}