{% extends "banner_base.html" %}
{% load markup tangle_tags %}

{% load i18n %}

{% block extra_head %}
{{ super }}
{% tangle_imports %}
{% tangle_instance sample.body "tangle_this" %}
{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Get Ready to TangleDown" %}</h1>
        <p>
            <strong>tangledown</strong> combines the simplicity of <a href="http://daringfireball.net/projects/markdown">Markdown</a> <a href="http://daringfireball.net/projects/markdown/syntax">syntax</a> with
the sexiness of <a href="http://worrydream.com/Tangle">Tangle.js</a> reactive documents and the loveliness of <a href="http://shutterstock.github.com/rickshaw/">Rickshaw</a> plots <strike>and the power of  

<a href="http://sympy.org">SymPy</a> symbolic <a href="http://docs.sympy.org/0.7.1/modules/solvers/solvers.html">solvers</a></strike>.
    </p>
    
    <div class="row">
        <div class="span7">
            <h3>You type</h3>
                <pre>{{ sample.body }}</pre>
        </div>
        <div class="span7">
            <h3>You get</h3>
                <div id="tangle_this" class="alert-message block-message info">
                {% tangledown sample.body %}
                </div>
            <h3>Want more?</h3>
            <a href="wiki/mortgage"><img src="{{STATIC_URL}}img/mortgage.png"></a>
            <p><a class="btn primary large" href="https://github.com/bollwyvl/tangledown">Get the code</a></p>
        </div>
    </div>
{% endblock %}

{% block column-1 %}
<h2>What can it do?</h2>
<ul>
    <li>Capture your thoughts in a <s>concise, beautiful</s> less-painful way</li>
    <li>Replace brittle Excel documents</li>
    <li>Change the world</li>
</ul>
{% endblock %}


{% block column-2 %}
<h2>How do I try it?</h2>
<ul>
    <li>Download it from <a href="https://github.com/bollwyvl/tangledown">GitHub</a></li>
    <li>Check out the <a href="wiki">examples</a> or the <a href="syntax">syntax</a></li>
</ul>
{% endblock %}


{% block column-3 %}
<h2>Who's to blame?</h2>
<ul>
    <li><a href="https://github.com/bollwyvl">me</a>, for hacking it together,</a></li>
    <li><a href="http://daringfireball.net/">John Gruber</a> for making text awesome,</li>
    <li><a href="http://worrydream.com">Bret Victor</a> for bringing text to life,</li>
    <li>the Django <a href="http://docs.djangoproject.com/en/1.3/internals/committers/">Committers</a> and pinax for doing the web right,</li>
    <li>The guys at <a href="http://www.shutterstock.com/">Shutterstock</a> for breaking <a href="http://mbostock.github.com/d3/">d3</a> in all the right ways,</li>
    <li>The SymPy <a href="http://docs.sympy.org/0.7.1/aboutus.html#sympy-development-team">Development Team</a> for making hard things easy,</li>
    <li>and many others!</li>
</ul>
{% endblock %}


{% block column-4 %}
<h2>What's next?</h2>
<ul>
    <li>Stand up a demo site on AppEngine</li>
    <li>Integrate SymPy</li>
    <li>Support and extend the TangleKit controls</li>
</ul>
{% endblock %}

